In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [ ]:
data=pd.read_csv('/content/infectious-diseases-by-county-year-and-sex.csv')

:

In [ ]:
data.head()

,Disease,County,Year,Sex,Cases,Population,Lower 95% CI,Upper 95% CI,Rate
0,Amebiasis,ALAMEDA,2001,FEMALE,7.0,746596,0.377,1.932,0.938*
1,Amebiasis,ALAMEDA,2001,MALE,9.0,718968,0.572,2.376,1.252*
2,Amebiasis,ALAMEDA,2001,TOTAL,16.0,1465564,0.624,1.773,1.092*
3,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,FEMALE,0.0,746596,0.000,0.494,-
4,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,MALE,0.0,718968,0.000,0.513,-

In [ ]:
data.shape

(154344, 9)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154344 entries, 0 to 154343
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Disease       154344 non-null  object
 1   County        154344 non-null  object
 2   Year          154344 non-null  int64
 3   Sex           154344 non-null  object
 4   Cases         150602 non-null  float64
 5   Population    154344 non-null  int64
 6   Lower 95% CI  150083 non-null  float64
 7   Upper 95% CI  150083 non-null  float64
 8   Rate          154344 non-null  object
dtypes: float64(3), int64(2), object(4)
memory usage: 10.6+ MB

In [ ]:
data.isnull().sum()

Disease            0
County             0
Year               0
Sex                0
Cases           3742
Population         0
Lower 95% CI    4261
Upper 95% CI    4261
Rate               0
dtype: int64

In [ ]:
data['Lower 95% CI'].fillna(data['Lower 95% CI'].mean(), inplace=True)

In [ ]:
data.isnull().sum()

Disease            0
County             0
Year               0
Sex                0
Cases           3742
Population         0
Lower 95% CI       0
Upper 95% CI    4261
Rate               0
dtype: int64

In [ ]:
data['Cases'].fillna(data['Cases'].mean(), inplace=True)

In [ ]:
data['Upper 95% CI'].fillna(data['Upper 95% CI'].mean(), inplace=True)

In [ ]:
data.dtypes

Disease          object
County           object
Year              int64
Sex              object
Cases           float64
Population        int64
Lower 95% CI    float64
Upper 95% CI    float64
Rate             object
dtype: object

In [ ]:
encoder=LabelEncoder()

In [ ]:
data['Rate'] = encoder.fit_transform(data['Rate'])

In [ ]:
data.dtypes

Disease          object
County           object
Year              int64
Sex              object
Cases           float64
Population        int64
Lower 95% CI    float64
Upper 95% CI    float64
Rate              int64
dtype: object

In [ ]:
data['County'].unique()

array(['ALAMEDA', 'ALPINE', 'AMADOR', 'BUTTE', 'CALAVERAS', 'CALIFORNIA',
       'COLUSA', 'CONTRA COSTA', 'DEL NORTE', 'EL DORADO', 'FRESNO',
       'GLENN', 'HUMBOLDT', 'IMPERIAL', 'INYO', 'KERN', 'KINGS', 'LAKE',
       'LASSEN', 'LOS ANGELES', 'MADERA', 'MARIN', 'MARIPOSA',
       'MENDOCINO', 'MERCED', 'MODOC', 'MONO', 'MONTEREY', 'NAPA',
       'NEVADA', 'ORANGE', 'PLACER', 'PLUMAS', 'RIVERSIDE', 'SACRAMENTO',
       'SAN BENITO', 'SAN BERNARDINO', 'SAN DIEGO', 'SAN FRANCISCO',
       'SAN JOAQUIN', 'SAN LUIS OBISPO', 'SAN MATEO', 'SANTA BARBARA',
       'SANTA CLARA', 'SANTA CRUZ', 'SHASTA', 'SIERRA', 'SISKIYOU',
       'SOLANO', 'SONOMA', 'STANISLAUS', 'SUTTER', 'TEHAMA', 'TRINITY',
       'TULARE', 'TUOLUMNE', 'VENTURA', 'YOLO', 'YUBA'], dtype=object)

In [ ]:
data['Disease'] = encoder.fit_transform(data['Disease'])
data['County'] = encoder.fit_transform(data['County'])
data['Sex'] = encoder.fit_transform(data['Sex'])

In [ ]:
data.head()

,Disease,County,Year,Sex,Cases,Population,Lower 95% CI,Upper 95% CI,Rate
0,0,0,2001,0,7.0,746596,0.377,1.932,1486
1,0,0,2001,1,9.0,718968,0.572,2.376,1915
2,0,0,2001,2,16.0,1465564,0.624,1.773,1692
3,2,0,2001,0,0.0,746596,0.000,0.494,0
4,2,0,2001,1,0.0,718968,0.000,0.513,0

In [ ]:
data.dtypes

Disease           int64
County            int64
Year              int64
Sex               int64
Cases           float64
Population        int64
Lower 95% CI    float64
Upper 95% CI    float64
Rate              int64
dtype: object

In [ ]:
data.isnull().sum()

Disease         0
County          0
Year            0
Sex             0
Cases           0
Population      0
Lower 95% CI    0
Upper 95% CI    0
Rate            0
dtype: int64

In [ ]:
X =data.drop(columns='Rate', axis=1)
Y =data['Rate']

In [ ]:
X

,Disease,County,Year,Sex,Cases,Population,Lower 95% CI,Upper 95% CI
0,0,0,2001,0,7.0,746596,0.377,1.932
1,0,0,2001,1,9.0,718968,0.572,2.376
2,0,0,2001,2,16.0,1465564,0.624,1.773
3,2,0,2001,0,0.0,746596,0.000,0.494
4,2,0,2001,1,0.0,718968,0.000,0.513
...,...,...,...,...,...,...,...,...
154339,56,58,2018,1,0.0,38838,0.000,9.498
154340,56,58,2018,2,0.0,77494,0.000,4.760
154341,57,58,2018,0,0.0,38656,0.000,9.542
154342,57,58,2018,1,0.0,38838,0.000,9.498
154343,57,58,2018,2,0.0,77494,0.000,4.760

In [ ]:
Y

0         1486
1         1915
2         1692
3            0
4            0
          ...
154339       0
154340       0
154341       0
154342       0
154343       0
Name: Rate, Length: 154344, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(154344, 8) (123475, 8) (30869, 8)

In [ ]:
model = RandomForestRegressor()

In [ ]:
model.fit(X_train, Y_train)

RandomForestRegressor()

In [ ]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = r2_score(X_train_prediction, Y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9995956212203407

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = r2_score(X_test_prediction, Y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.9983804484726693